html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Conthrax, sans-serif;
}

@font-face {
  font-family: "Conthrax";
  font-weight: 200;
  src: url("/fonts/conthrax-sb.ttf") format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}